{% extends './layout.html' %}

{% block body %}

<div class="container-fluid">
    <div class="body advert">
        <!-- 面包屑 -->
        <ol class="breadcrumb">
            <li><a href="javascript:;">广告管理</a></li>
            <li class="active">广告列表</li>
        </ol>
        <div class="page-title">
            <a href="/advert/add" class="btn btn-success btn-sm pull-right">添加广告</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="" class="form-inline">
                    <select name="" class="form-control input-sm">
                        <option value="">按年龄</option>
                    </select>
                    <select name="" class="form-control input-sm">
                        <option value="">按性别</option>
                    </select>
                    <select name="" class="form-control input-sm">
                        <option value="">按地区</option>
                    </select>
                    <select name="" class="form-control input-sm">
                        <option value="">按日期</option>
                    </select>
                    <button class="btn btn-success btn-sm">筛选</button>
                </form>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>序号</td>
                        <th>标题</th>
                        <th>图片</th>
                        <th>链接</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>点击次数</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id='tbody'>
                </tbody>
            </table>
        </div>
        <!-- 分页 -->
        <ul id="pagination" class="pagination pull-right">

        </ul>
    </div>
</div>
<!-- 這裏使用的是art-template模板引擎渲染 -->
<script type="text/template" id="tpl">
        <% adverts.forEach(function(item,index) { %>
        <tr>
            <td><%= index +1 %></td>
            <td><%= item.title %></td>
            <td>
                    <!-- <%=item.image%> -->
                <img src="/public/uploads/<%=item.image%>" style="width:100px;height:72px" alt="">
                </td>
            <td><%= item.link %></td>
            <td><%= item.start_time %></td>
            <td><%= item.end_time %></td>
            <td>1</td>
            <td>
                <a href="/advert/edit/<%= item._id %>" class="btn btn-info btn-xs">编辑</a>
                <a href="javascript:;" data-id='<%= item._id %>' class="btn btn-danger btn-xs">删除</a>
            </td>
    
        </tr>
    
        <% }) %>
</script>
{% endblock %}

{% block script %}
<script src="../node_modules/art-template/lib/template-web.js"></script>
<script src="../node_modules/twbs-pagination/jquery.twbsPagination.js"></script>

<script>

    let page_size = 5;

    $.ajax({
        url: '/advert/count',
        type: "get",
        success: function (data) {
            console.log(data)
            if (data.error_code === 0) {
                $('#pagination').twbsPagination({
                    totalPages: Math.ceil(data.result / page_size), // 總頁數
                    visiblePages: 7, // 可以顯示的分頁格子
                    first: '首頁',
                    prev: "上一頁",
                    next: "下一頁",
                    last: '結束頁',

                    onPageClick: function (event, page) {
                        // $('#page-content').text('Page ' + page);
                        loadData(page)
                    }
                });
            }
        }
    })


    function loadData(page) {
        $.ajax({
            url: '/advert/list',
            type: 'get',
            data: {
                page: page,
                pageSize: page_size
            },
            dataType: 'json',
            success: function (data) {
                // console.log(data)
                if (data.error_code === 0) {
                    var htmlStr = template('tpl', {
                        adverts: data.result
                    })

                    $("#tbody").html(htmlStr)

                }

            }
        })
    }


    $(document).on("click", ".btn-danger", function () {
        var id = $(this).attr('data-id')
        $.ajax({
            url: '/advert/remove',
            type: 'get',
            data: {
                id: id
            },
            dataType: 'json',
            success: function (data) {
                loadData(1)
            }

        })
    });


</script>


<script>
    var foo = "{{foo}}"
</script>
{% endblock %}